#head-line
{
    border-top: solid var(--main-color) 3px;
    width: 50%;
    margin-top: 10px;
}

#main-head
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 700px;
}

#credit-text-names
{
    font-family: 'Marianne-Bold', Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

#credit-text
{
    font-family: 'Marianne-Regular_Italic', Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#screen-11
{
    overflow: scroll;
    height: max-content;
}

.return-menu
{
    font-size: 18px !important;
    display: flex;
    justify-content: center;
}

.bold-text
{
    font-family: 'Marianne-Bold', Arial, Helvetica, sans-serif !important;
    font-size: 20px !important;
}

.italic-text
{
    font-family: 'Marianne-Regular_Italic', Arial, Helvetica, sans-serif !important;
    margin: 0 !important;
    font-size: 14px;
}

.form
{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-form button
{
    font-family: 'Marianne-Bold', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.section-form
{
    font-family: 'Marianne-Regular', serif;
    color: var(--second-color);
    font-size: 16px;
}

.button-form
{
    width: 100%;
    display: flex;
    justify-content: end;
}

.text-form
{
    margin-top: 50px;
    margin-bottom: 100px;
}

.text-act-form
{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Font size for button : 18px, padding for button : 13px */

.main-buttons button
{
    font-family: 'Marianne-Bold', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.main-buttons
{
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: space-between;
}

.return-button
{
    border: none;
    padding: unset;
    color: var(--second-color);
    background: none;
}

.first-main-button
{
    background-color: var(--main-color);
    padding: 13px;
    border-radius: 7px;
    color: var(--background-color);
    border: none;
}

.second-main-button
{
    border: solid var(--main-color) 3px;
    color: var(--main-color);
    border-radius: 7px;
    width: 75%;
    padding: 13px;
    background: none;
}

.third-main-button
{
    background-color: var(--second-color);
    color: var(--background-color);
    border-radius: 7px;
    padding: 13px;
    border: none;
    width: 100%;
    font-size: 13px !important;
}

.button-act-form
{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header-form
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.narration-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-last-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.button-last-form button
{
    margin-bottom: 50px;
}