body
{
    --main-color: #2D58F3;
    --background-color: #E8E8E8;
    --second-color: #545454;
    padding: 50px;
    margin: 0;
    background-color: var(--background-color);
    overflow: hidden;
    height: 100vh;
    /* max-height: 900px; */
    /* min-height: none; */
    max-width: 790px;
    min-width: none;
    display: flex;
    justify-content: center;

    /* Image de fond */
    background-image: url('/src/main/webapp/assets/background.png');
    background-size: 170%;
    background-position-y: bottom;
    background-repeat: no-repeat;
}

/* Affichage des sections */
section {

    /* position: absolute; */
    display: none;
    transition: opacity 0.4s;
}
  
section.is-visible {
    display: block;
    opacity: 1;
}

h2
{
    margin: 0;
    margin-bottom: 5px;
    font-family: 'Monument Extended', Arial, Helvetica, sans-serif;
    color: var(--main-color);
    font-weight: 200;
    font-size: 32px;
    margin-top: 20px;
}

h3
{
    font-family: 'Marianne-Bold', Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: var(--main-color);
}

/* Monument Extended Font */

@font-face {
    font-family: 'MonumentExtended-Regular';
    src: url('/src/main/webapp/assets/monument-extended-font/MonumentExtended-Regular.otf') format('otf');
}

@font-face {
    font-family: 'MonumentExtended-Ultrabold';
    src: url('/src/main/webapp/assets/monument-extended-font/MonumentExtended-Ultrabold.otf') format('otf');
}

@import url(//db.onlinewebfonts.com/c/55d433372d270829c51e2577a78ef12d?family=Monument+Extended);

/* Marianne Font */

@font-face {
    font-family: 'Marianne-Bold_Italic';
    src: url('/src/main/webapp/assets/marianne-font/Marianne-Bold_Italic.woff') format('woff');
}

@font-face {
    font-family: 'Marianne-Bold';
    src: url('/src/main/webapp/assets/marianne-font/Marianne-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Marianne-ExtraBold_Italic';
    src: url('/src/main/webapp/assets/marianne-font/Marianne-ExtraBold_Italic.woff') format('woff');
}

@font-face {
    font-family: 'Marianne-ExtraBold';
    src: url('/src/main/webapp/assets/marianne-font/Marianne-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Marianne-Light_Italic';
    src: url('/src/main/webapp/assets/marianne-font/Marianne-Light_Italic.woff') format('woff');
}

@font-face {
    font-family: 'Marianne-Light';
    src: url('/src/main/webapp/assets/marianne-font/Marianne-Light.woff') format('woff');
}

@font-face {
    font-family: 'Marianne-Medium_Italic';
    src: url('/src/main/webapp/assets/marianne-font/Marianne-Medium_Italic.woff') format('woff');
}

@font-face {
    font-family: 'Marianne-Medium';
    src: url('/src/main/webapp/assets/marianne-font/Marianne-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Marianne-Regular_Italic';
    src: url('/src/main/webapp/assets/marianne-font/Marianne-Regular_Italic.woff') format('woff');
}

@font-face {
    font-family: 'Marianne-Regular';
    src: url('/src/main/webapp/assets/marianne-font/Marianne-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Marianne-Thin_Italic';
    src: url('/src/main/webapp/assets/marianne-font/Marianne-Thin_Italic.woff') format('woff');
}

@font-face {
    font-family: 'Marianne-Thin';
    src: url('/src/main/webapp/assets/marianne-font/Marianne-Thin.woff') format('woff');
}


/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 250%;
    background-color: #555;
    color: #fff;
    text-align: end;
    border-radius: 6px;
    padding: 8px ;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: 25%;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    visibility: hidden;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }